/* Global Styling */

body {
   margin: 0%;
}

/* Nav Grids  */

.nav-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.nav-list-grid {
   display: grid;
   gap: .75rem;
   grid-template-columns: repeat(4, 1fr);
   grid-column-start: 3;
}

.grid-col-span-2 {
   grid-column: span 2;
}

/* Nav Grid Media queries */

@media (max-width: 50em) {
   .nav-grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
   }

   .nav-list-grid {
      grid-template-columns: repeat(4, 1fr);
      grid-row-start: 2;
      grid-column-start: 1;
      gap: 0;
   }
}

/* Nav Styling */

.nav-style {
   background-color: #66717E;
   color: #EFE7DA;
   padding: 8px;
}

.nav-list-style {
   list-style: none;
   font-size: 15px;
   justify-items: center;
}

.nav-title {
   font-size: 50px;
}

.nav-icon-style {
   font-size: 20px;
}

/* Nav Styling Media queries */
@media (max-width: 50em) {
   .nav-list-style {
      padding: 0%;
   }

   .nav-title {
      align-self: center;
      justify-self: center;
   }
}

/* Home Page Grids */

.home-grid {
   display: grid;
   grid-template-rows: repeat(1, 1fr);
   
}

.home-category-grid {
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(5, 1fr);
}

/* Home Page Styling */

.home-styling {
   justify-items: center;
   margin-top: 2%;
}

.home-title-styling {
   font-size: 25px;
   margin-bottom: 15px;
}

.home-item-card-styling {
   width: 85%;
   align-self: center;
   justify-self: center;
   justify-items: center;
}

.home-item-title-styling {
   margin-top: 1px;
   font-size: 14px;
}

.home-see-all-button {
   align-self: center;
   justify-self: center;
   justify-items: center;
}

/* Fonts */
@font-face {
   font-family: 'Coolvetica';
   src: url('./fonts/coolvetica.rg-regular.otf') format('truetype');
}

@font-face {
   font-family: 'Poppins';
   src: url('./fonts/poppins.regular.ttf') format('truetype');
}

.font-Coolvetica {
   font-family: 'Coolvetica';
}

.font-Poppins {
   font-family: 'Poppins';
}