/* Global Styling */

body {
   margin: 0%;
   background-color: #EBEBEB;
}

/* Fonts */
@font-face {
   font-family: 'Coolvetica';
   src: url('./fonts/coolvetica.rg-regular.otf') format('truetype');
}

@font-face {
   font-family: 'Poppins';
   src: url('./fonts/poppins.regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Poppins Light';
   src: url('./fonts/poppins.light.ttf') format('truetype');
}

.font-Coolvetica {
   font-family: 'Coolvetica';
}

.font-Poppins {
   font-family: 'Poppins';
}

.font-Poppins-light {
   font-family: 'Poppins Light';
}

/* Single Item Page Grid */

.single-item-grid {
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(2, 1fr);
   margin-top: 2%;
}

/* Single Item Page Styling */

.back-to-browsing {
   text-decoration: none;
   color: black;
   margin-left: 1%;
}

.back-to-browsing:hover {
   cursor: pointer;
}

.text-align-center {
   text-align: center;
}

.text-align-right {
   text-align: right;
}

.text-size-main-title {
   font-size: 35px;
}

.text-size-main {
   font-size: 20px;
}

.single-item-image {
   border-radius: 10px;
   box-shadow: -2px 9px 16px -1px rgba(0, 0, 0, 0.53);
}

.btn-single-page-size {
   margin-right: 1%;
}


.btn-single-page-style {
   background-color: #42626B;
   color: #EBEBEB;
   padding-left: 8px;
   padding-right: 8px;
   border-radius: 10px;
}

.btn-single-page-style:hover {
   cursor: pointer;
}

/* Single Item Page Styling */

@media (max-width: 1306px) {
   .single-item-image {
      height: 40vh;
   } 

   .single-item-grid {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 2%;
   }

   .text-align-right {
      text-align: center;
   }
}

/* Cart Page Styling*/

.cart-page-main-div {
   margin-top: 3%;
   margin-bottom: 3%;
}

.margin-bottom {
   margin-bottom: 1%;
}

.item-image {
   border-radius: 10px;
   box-shadow: inset;
}

/* login and signup styling */
.input {
   width: 100%;
   padding: 10px 0;
   margin: 8px 0;
   outline: none;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   text-align: center;
   display: grid;
}

.form-align {
   text-align: center;
   margin-top: 3%;
   font-size: 20px;
   border-radius: 5px;
   background-color: rgb(66, 98, 107, 50%);
   padding: 20px;
   width: 50%;
   box-shadow: 4px 4px lightgray;
   margin-left: auto;
   margin-right: auto;
}

.link {
   text-decoration: none;
   color: #42626B;
}

.link:hover {
   text-decoration: underline;
}

.button {
   font-size: 1rem;
   text-decoration: none;
   padding: 0.25rem 1rem;
   border-radius: .5rem;
   border: none;
   outline: none;
   cursor: pointer;
   margin: 0 1px;
   background-color: #42626B;
   color: #EBEBEB;
   box-shadow: 2px 2px grey;
}

.button:hover {
   box-shadow: none;
}

/* Home page grid */

.first-section-grid {
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(2, 1fr);
   margin-bottom: -.21%;
}

.home-main-div {
   margin-top: -1%;
}

/* Home page styling */

.home-page {
   width: 100%;
}

/* Home page layout/styling for smaller screens */

.home-img-moblie {
   width: 100vw;
}

.mobile-title-font-size {
   font-size: 24px;
}

.mobile-text-font-size {
   font-size: 12px;
}

.mobile-homepage-grid {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
}



 .footer-location {
   position: relative;
   min-height: 55vh;
   width: 100%;
   text-decoration: none;
 }
