/* Global Styling */

body {
   margin: 0%;
}

/* Fonts */
@font-face {
   font-family: 'Coolvetica';
   src: url('./fonts/coolvetica.rg-regular.otf') format('truetype');
}

@font-face {
   font-family: 'Poppins';
   src: url('./fonts/poppins.regular.ttf') format('truetype');
}

.font-Coolvetica {
   font-family: 'Coolvetica';
}

.font-Poppins {
   font-family: 'Poppins';
}

/* Single Item Page Grid */

.single-item-grid {
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(2, 1fr);
}

.single-item-details-grid {
   display: grid;
   grid-template-columns: 1;
}


/* Single Item Page Styling */