/* footer styling */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

:any-link {
    text-decoration: none!important;
    color: #EFE7DA;
}

:any-link:hover {
    text-decoration: underline!important;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: #42626B;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-list-style {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    color: #EFE7DA;
    padding-top: 20px;
}

.footer-title {
    font-size: 20px;
    color: #EFE7DA;
}

@media (max-width: 50em) {
    .footer-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}