.badge {
    position: absolute;
    top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 75%;
    background: #E43C4D;
    color: white;
    font-size: 13px;
}

.nav-icon-style {
    font-size: 20px;
    color: #EBEBEB;
 }
 
 .nav-icon-style:hover {
    cursor: pointer;
 }

 @media (max-width: 50rem) {
    .badge {
        position: absolute;
        top: 69px;
    }
 }